web/META-INF/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services.lugubria.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.lugubria.org/">

<xs:element name="getUserById" type="tns:getUserById" />

<xs:element name="getUserByIdResponse" type="tns:getUserByIdResponse" />

<xs:element name="userValid" type="tns:userValid" />

<xs:element name="userValidResponse" type="tns:userValidResponse" />

<xs:complexType name="userValid">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userValidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserById">
<xs:sequence>
<xs:element name="userId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="del" type="xs:boolean" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="perId" type="xs:int" minOccurs="0" />
<xs:element name="userId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>